/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #525252;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: flex; /* Utiliser flex pour aligner les icônes et le texte */
    align-items: center; /* Centrer verticalement le contenu */
}
.sidebar a:hover {
    background-color: #e2e6ea;
}
.submenu {
    display: none; /* Masquer le sous-menu par défaut */
}
.content {
    /* margin-left: 250px; */
    padding: 20px;
    flex-grow: 1;
}
.submenu a {
    padding-left: 30px; /* Indentation pour les éléments de sous-menu */
}
.icon-margin {
    margin-right: 10px; /* Ajout d'une marge à droite des icônes */
}
.sidebar a.active {
    background-color: #5166b9;
    color: white;
}

.sidebar a, h4 {
    color: white;
}

body{
    background: #cfcfcf;;
    min-height: 100vh;
}

.wrapper{
    max-width: 850px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    margin: 50px auto;
    box-shadow: 0 8px 20px 0px #1f1f1f1a;
    overflow: hidden;
}

.wrapper .form-left{
    background: #5166b9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    position: relative;
    width: 100%;
    color: #fff;
}

.wrapper h2{
    font-weight: 700;
    font-size: 25px;
    padding: 5px 0 0;
    margin-bottom: 34px;
    pointer-events: none;
}

.wrapper .form-left p{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    pointer-events: none;
}

.wrapper .form-left .text{
    margin: 20px 0 25px;
}

.wrapper .form-left p span{
    font-weight: 700;
}

.wrapper .form-left input{
    padding: 15px;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 180px;
    border: none;
    margin: 15px 0 50px 0px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 0.9rem;
    appearance: unset;
    outline: none;
}

.wrapper .form-left input:hover{
    background-color: #f2f2f2;
}

.wrapper .form-right{
    padding: 20px 40px;
    position: relative;
    width: 100%;
}

.wrapper .form-right h2{
    color: #5166b9;
}

.wrapper .form-right label{
    font-weight: 600;
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

.wrapper .form-right .input-field{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    color: #333;
}

.wrapper .form-right .input-field:focus{
    border: 1px solid #31a031;
}


.wrapper .option {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    font-size: 0.95rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none
}

.wrapper .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.wrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 2px
}

.wrapper .option:hover input~.checkmark {
    background-color: #f1f1f1
}

.wrapper .option input:checked~.checkmark {
    border: 2px solid #e5e5e5;
    background-color: #fff;
    transition: 300ms ease-in-out all
}

.wrapper .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    color: #5166b9;
    font-size: 1rem;
}

.wrapper .option input:checked~.checkmark:after {
    display: block
}

.wrapper .option .checkmark:after {
    left: 2px;
    top: -4px;
    width: 5px;
    height: 10px
}

.wrapper .register{
    padding: 12px;
    background: #5166b9;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* width: 130px; */
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.wrapper .register:hover{
    background-color: #3785bde0;
}

.wrapper a{
    text-decoration: none;
}

.radio-buttons {
    display: flex;
    margin-right: 10px; /* Ajustez la marge selon vos besoins */
}

.passwordToggle {
    cursor: pointer;
    position: absolute;
    right: 0;
    border: 0;
    background-color: transparent;
    top: 8px;
    z-index: 1000;
}

@media (max-width: 860.5px) {
    .wrapper{
        margin: 50px 5px;
    }
}


@media (max-width: 767.5px){
    .wrapper{
        flex-direction: column;
        margin: 30px 20px;
    }

    .wrapper .form-left{
        border-bottom-left-radius: 0px;
    }

    
}

@media (max-width: 575px) {

    .wrapper{
        margin: 30px 15px;
    }

    .wrapper .form-left{
        padding: 25px;
    }
    .wrapper .form-right{
        padding: 25px;
    }
}

#myDataTable_wrapper {
    width: 100%;
    padding: 2em
}

.sex-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.male-icon, .female-icon {
    margin-left: 10px; /* Ajustez la marge à votre convenance pour l'espacement entre l'icône et le texte */
}

.rounded-icon {
    width: 80px; /* Ajustez la taille du rond selon vos besoins */
    height: 80px; /* Ajustez la taille du rond selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Utilisez border-radius pour créer un rond */
    background-color: #ccc; /* Couleur de fond du rond, ajustez selon vos besoins */
}

.float-right {
    float: right;
}

.bg-primary {
    background-color: #5166b9 !important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) .navbar-toggler{
    border-color: transparent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled):active{
    border-color: transparent;
}

select {
    background-color: #f9f9f9;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: #495057;
    appearance: none; /* Supprime les styles par défaut pour un aspect uniforme */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23adb5bd" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14l-4.796-5.481C1.885 5.266 2.343 4.5 3 4.5h10c.657 0 1.115.766.55 1.159L8.753 11.14c-.346.395-.96.395-1.506 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}